@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Condensed&display=swap');

body{
    width: 1200px;
    margin: 0 auto;
}

p, a, ul{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3{
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(109, 109, 177);
}

h2{
   color: rgb(161, 118, 161);
}


a{
    text-decoration: none;
    color: rgb(161, 118, 161);
}

a:hover{
    color: rgb(109, 109, 177);
}


/*--------------------------------------------------------- NAVIGATION -----------------------------------------------*/

.navigation{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 70px;
    height: 80px;
}

.liste-nav{
    display: flex;
    list-style: none;
}

.liste-sous-nav{
    padding: 10px;
}

/*--------------------------------------------------------- HEADER -----------------------------------------------*/

header{
    background-image: url(../img/header1.bmp);
    object-fit: cover;
    width: 1200px;
    height: 300px;
}

.p-header{
    color: white;
    padding-top: 90px;
    margin-left: 350px;
    text-align: center;
    width: 500px;
}

/*--------------------------------------------------------- GRID -----------------------------------------------*/

.grid{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 1100px;
    margin: auto;
}

.grid-template{
    width: 270px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.grid-template:hover{
    box-shadow:  10px 5px 5px black;
    transition:1s;
}
.article_grid{
    object-fit: cover;
    width: 270px;
    height: 250px;
}

.date{
    margin: 0;
    color: rgb(161, 118, 161);
    padding: 2px;
}

.paragrid{
    margin: 0;

    width: 250px;
    padding: 2px;
}

.article_propos{
    padding: 10px;
}

textarea{
    resize: none;
}

/*--------------------------------------------------------- FORMULAIRE -----------------------------------------------*/

.formulaire{
    margin: 0 auto;
    width: 320px;
    background: linear-gradient(rgba(100,65,164,255), rgb(255, 255, 255));
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 5px;
}

.form{
    padding: 10px;
}

.object{
    padding: 5px;
}

textarea{
    width: 250px;
    height: 150px;
}

/*--------------------------------------------------------- ARTICLE -----------------------------------------------*/

.game{
    padding-top: 50px;
    padding-bottom: 50px;
}
.gaming{
    width: 1000px;
    
}

.para_gaming{
    width: 1000px;
}

/*--------------------------------------------------------- FOOTER -----------------------------------------------*/

.footer{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
}

.reseaux-footer{
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
}

#logo-footer{
    width: 150px;
    height: 150px;
}

.reseau-liste-footer{
    padding: 10px;
}
.reseau{
    width: 50px;
    height: 50px;
}